.container {
    border-bottom-style: solid;

    @apply tw-border-b-2 tw-border-zinc-500/20  tw-px-2;

    & > :global(.ant-tabs) {
        @apply !tw-py-1;
    }

    & > :global(.ant-tabs > .ant-tabs-nav)::before {
        content: unset;
    }

    & > :global(.ant-tabs .ant-tabs-nav-list > .ant-tabs-tab) {
        @apply !tw-rounded-[0.25rem] !tw-pl-3 !tw-pr-1;

        &:global(.ant-tabs-tab-active) {
            @apply !tw-bg-[color:var(--controlItemBgActive)] !tw-border-b-[color:var(--colorBorderSecondary)];
        }

        &:global(.ant-tabs-tab-with-remove > .ant-tabs-tab-remove) {
            @apply !tw-ml-0;
        }
    }
}

:global(.ant-tabs-nav .ant-tabs-nav-list) {
    @apply !tw-transition;
}
